
.main{
    background-color:whitesmoke;
    display: grid;
    place-items:center;
    text-align:center;
    padding: 250px;
    background: url(R.jpg);
}
h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
p{
    font-size: 15px;
    text-align: center;
}
img{
    width: 100px;
}

